openapi: 3.2.0
info:
  title: Semrush JWT Issuer API
  version: 0.0.1
  description: SEMrush is an all-in-one digital marketing tool that helps businesses improve their online visibility and attract more customers.
servers:
- url: https://api.semrush.com
tags:
- name: JWT Issuer
paths:
  /app-center-api/v2/jwt-token/:
    post:
      tags:
      - JWT Issuer
      summary: Semrush Request API access token
      description: 'Retrieves JWT for accessing Semrush API.

        Documentation'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issuerJwtRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuerJwtResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/errorMessage'
      operationId: postAppCenterApiV2JwtToken
      x-operation-id-source: derived
components:
  schemas:
    errorMessage:
      type: string
      maxLength: 256
      description: A text message describing an error
    issuerJwtRequest:
      type: object
      properties:
        jwt:
          type: string
          description: "JWT by [specification](https://www.semrush.com/apps/docs/server-to-server-api/bearer-token#generate-a-jwt), \nsigned by your secret key\n"
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...0NiL86tQkUG25G3Y1QC2ma94sfe4cXcs8_bYcpw2OzY
    issuerJwtResponse:
      type: object
      description: An object describing a JWT
      properties:
        jwt:
          type: string
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...0NiL86tQkUG25G3Y1QC2ma94sfe4cXcs8_bYcpw2OzY
  responses:
    '401':
      description: Unauthorized. Incorrect JWT fields or signature
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorMessage'
    '400':
      description: Bad request. Something wrong with the request or JWT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorMessage'
  securitySchemes:
    jwtIssuerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use token retrieved from Jwt Issuer

        [Documentation](https://www.semrush.com/apps/docs/server-to-server-api/bearer-token)

        '
